p
    |   ID:
    |   #{user.id}
    br
    |   Username:
    |   #{user.username}
    |   Name:
    |   #{user.displayName}
    br
    if (user.emails)
    |   Email:
    |   #{JSON.stringify(user.emails)